* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, red, gray, deepskyblue, greenyellow, green, blue, orange, yellow);
}

h1 {
    text-align: center;
    color: white;
}

form {
    background: linear-gradient(45deg, red, navy);
    padding: 120px;
    height: 100px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    
}

form label {
    color: white;
}

#bt {
    width: 50px;
    height: 20px;
}

.inp {
    display: flex;
    justify-content: center;
}
